# TODO: define submodules to be included in the repository
# Initialize submodules:
#	git submodule update --init --recursive
# Deinitialize submodules:
#	git submodule deinit -f external
# [submodule "external/tensor_toolbox"]
# 	path = external/tensor_toolbox
# 	url = https://gitlab.com/tensors/tensor_toolbox.git
# 	branch = dev
